<div id="<%= dom_id language %>">
  <div data-text="<%= language.experience %>" class="tooltip">
    <%= language.name %>
  </div>

  <%# <p>
    <strong>Experience:</strong>
    <%= language.experience 
  </p> %>

</div>
