<div class="m-auto w-11/12">

  <div id="languages" class="m-auto border border-solid mt-5 p-2 bg-white">
    <h1 class="font-bold text-lg text-center mb-2 text-teal-blue">New language</h1>

    <%= render "form", language: @language %>

    <br>

    <div class="mb-2 mt-5 text-center">
      <%= link_to "Back to languages", languages_path, class: "bg-green-700 p-2 rounded text-white"%>
    </div>
  </div>

<div>
