<div class="m-auto w-11/12 text-center mt-2">
    <h1 class="font-bold" >Anthony Levesque</h1>
    <h2>Summary</h2>
    <p>
        Two years ago I started a new career path. I previously had a passion for electronic devices and their components and figured I might as well try to learn more about it by pursuing the field of programming. Boy, was this a mistake as I have totally fallen in love with programming and all its intricacies.
    My educational journey led me to NBCC, where I delved into programming languages and honed my skills in software development through the WMAD course. This program was instrumental in paving my way toward becoming a software developer. In my second year, I took on a part-time job, which eventually opened doors to an internship. I further solidified my experience with a work practicum, and then secured a role as a developer with the same company.
    After taking a hiatus post-graduation, I embarked on a journey of travel before returning to kickstart my new career with the company and continue my ever growing passion of programming.

    </p>
    <p>
        Hello my name nnbdkndbklbs asidjaida
        Look below for more details about me.
    </p>

    <div class="pl-10">
        <ul class="list-disc text-left">
            <% @languages.each do |language| %>
                <li>
                    <%= language.name %>
                </li>
            <% end %>
        </ul>
    </div>
</div>