<div class="m-0 overflow-hidden">
    <%# <div class="hex-container">
        <div class="hexagon"></div>
        <div class="hexagon"></div>
        <!-- Add more hexagons as needed -->
    </div> %>
    <div class="w-4/6 m-auto bg-white flex items-center mb-10 border-2 border-solid border-black">
        <div class="text-left p-8">
            <h1 class="font-bold text-teal-blue text-lg"># About Me</h1>
            <p class="mb-3">
                Hello there, as you have probably already seen, my name is Anthony. I am a avid gamer and climber, I am bilingual and I love to take on new challenges to surpass them. If you have a challenge for me to attempt, send it my way and I'll take it head on.
                I'm a recent graduate from NBCC in Moncton, New Brunswick and I have recently moved to Calgary, Alberta. The course I took was the IT: Web and Mobile Application Develpment which has been refactored/renamed to the IT: Software Develpment course.
            </p>
            <p class="mb-3">
                I have gathered some good programming experience from College and as well as my past work experience after graduating. I believe I have a solid foundation to excel in most environment, and if I don't, I know I'll be able to learn and perform well. 
                I'm looking for a job in the Greater Calgary Area and or a remote job in the Software Development field.
            </p>
            <p class="mb-3">
                If you think I would be a great fit and or would like to get ahold of me, please navigate to the contact page. The contact page should contain the necessary information for you like my resume and email.
            </p>
            <p class="mb-3">
                Please feel free to explore the website info page. This page contains more details regarding the before and after versions of my personal website.
            </p>

            <a href="#WebsiteInfo" class="font-bold hover:underline inline-flex">
                <p>Explore More</p>
                <%= image_tag("ArrowBottom.png", class: "h-8", ) %>
            </a>
        </div>
        
    </div>

    <div class="text-5xl w-3/4 mt-20 mb-24 mx-auto">
        <h2>Hire for the Soul<h2>
        <h2>Train for the Role</h2>
    </div>
</div>